/* .container{
    background-color: rgb(44, 41, 41);
    height: 200vh;
    width: 250px;
    color: azure;
} */
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Josefin+Sans:wght@300&family=Playfair+Display:ital@1&family=Sofia&display=swap");
.sidebar {
  height: 100%;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  color: #ffffff;
  /* overflow-x: hidden; */ 
  /* transform: translateX(-100%); */
}
.sidebarclosed {
  /* Move the sidebar off-screen when it's closed */
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}
@keyframes open {
  from {
    /* transform: translateX(-100%); */
    width: 0%;
  }

  to {
    width: 270px;
    /* transform: translateX(100%); */
  }
}

.open {
  animation-name: open;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

.logo {
  width: 100%;
  height: 97px;
  /* background-color: rgba(12, 235, 235, 0.4); */
}
.link {
  text-decoration: none;
  color: aliceblue;
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  padding-left: 8px;
}
.link:hover{
  color:gray
}
ul > li {
  margin-bottom: 30px;
  letter-spacing: 2px;
  padding-left: 3px;
  list-style-type: none;
}
